<?xml version="1.0" encoding="UTF-8"?><config version="1.0">
<server-address>182.150.21.232:10081</server-address>
<syncPriceFromVmc>0</syncPriceFromVmc>
<vmcFeature>
<auto-deliver>0</auto-deliver>
</vmcFeature>
<POSMode>0</POSMode>
<channelAutoConfig>0</channelAutoConfig>
<onecardPos>0</onecardPos>
<comMachBaseStock>1</comMachBaseStock>
<enableHttps>0</enableHttps>
<POSProtocol/>
<POSMerchantID/>
<POSAuthSN/>
<POSTerminalID/>
<POSIp/>
<POSPort/>
<POSTpdu/>
<POSSerial/>
<browseMode>1</browseMode>
<enableIntegralExchange>0</enableIntegralExchange>
<backSoldout>0</backSoldout>
<scannConnMode>USB</scannConnMode>
<logReform>0</logReform>
<deliverProbe>1</deliverProbe>
<VTS>0</VTS>
<CashStats>0</CashStats>
<GridBrowseMode>1</GridBrowseMode>
<SpringBrowseMode>0</SpringBrowseMode>
<AucmaCashless>0</AucmaCashless>
<ComAlternateVendout>1</ComAlternateVendout>
<DeliverTimeout>0</DeliverTimeout>
<ShoppingCartMaxCount>5</ShoppingCartMaxCount>
<VipSystem>WeChatVip</VipSystem>
<ScanDevModel>Newland</ScanDevModel>
<SaleBaseStock>1</SaleBaseStock>
<FreeVend>0</FreeVend>
<KeefeMode enable_ui="0" enable_scan="0" take_over_keypad="0" host_name="" username="" password="" limit_pwd="" ui_timeout="30">0</KeefeMode>
<MDBPosDecimal>2</MDBPosDecimal>
<MDBPosCountryCode>1978</MDBPosCountryCode>
<MDBPosScalingFactor>1</MDBPosScalingFactor>
<HeartBeatInterval>58</HeartBeatInterval>
<PalmSerial>----</PalmSerial>
<VTSDecimal>1</VTSDecimal>
<writePriceToVMC>1</writePriceToVMC>
<PaymentViewTimeout>60</PaymentViewTimeout>
<MDB232SerialPort>----</MDB232SerialPort>
<supportPayments>
<supportPayment>cash</supportPayment>
</supportPayments>
</config>
